# debug/build files
*.log
*.spec

# build folders
build/
dist/
__pycache__/

# debugging purpose/heavy files
images/
scripts/
assistant_files.json
*.zip

# temporary files
temp.*
*.temp

# vscode files
.vscode/
