QPushButton, QKeySequenceEdit {
    padding: 5px 0;
    border-radius: 5px;
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(58, 58, 58);
}
QPushButton:hover, QKeySequenceEdit:hover {
    background-color: rgb(51, 51, 51);
}
